__pycache__/
common/utils/human_model_files
pretrained_models/
dataset
output
.vscode
*.npy
*.tar
main/vis
main/vis*
tool/AGORA/vis*
tool/SHAPY/vis*
demo/
*egg-info/
.idea/
data/SHAPY/mesh-mesh-intersection/build/
data/SHAPY/mesh-mesh-intersection/mesh_mesh_intersect_cuda.cpython-38-x86_64-linux-gnu.so
main/vis
main/convert_humandata
DPoserX/pretrained_models-20250911T020915Z-1-001.zip
huma_body_priors
DPoserX/lib/body_model/smplx
DPoserX/lib/data
humandata.npz
main/transformer_utils/mmpose/models/utils/fisheye_camera
main/transformer_utils/mmpose/models/backbones/utils/fisheye_camera
data/eval_saved_param_egowholebody.py
data/eval_saved_param.py